.wrapper {
  position: relative; }

.wrapper.padding_0.padding--s {
  padding-top: 2em; }

.wrapper.padding_1.padding--s {
  padding-right: 2em; }

.wrapper.padding_2.padding--s {
  padding-bottom: 2em; }

.wrapper.padding_3.padding--s {
  padding-left: 2em; }

.wrapper.padding_0.padding--m {
  padding-top: 4rem; }

.wrapper.padding_1.padding--m {
  padding-right: 4rem; }

.wrapper.padding_2.padding--m {
  padding-bottom: 4rem; }

.wrapper.padding_3.padding--m {
  padding-left: 4rem; }

.wrapper.padding_0.padding--l {
  padding-top: 6rem; }

.wrapper.padding_1.padding--l {
  padding-right: 6rem; }

.wrapper.padding_2.padding--l {
  padding-bottom: 6rem; }

.wrapper.padding_3.padding--l {
  padding-left: 6rem; }

.wrapper.margin_2.margin--s {
  margin-bottom: 2rem; }

.wrapper.margin_2.margin--m {
  margin-bottom: 4rem; }

.wrapper.margin_2.margin--l {
  margin-bottom: 6rem; }

.grid-container {
  max-width: 100%;
  display: block\0/ !important;
  /* IE 8-9 */
  display: grid;
  grid-column-gap: 3rem;
  grid-row-gap: 0;
  align-items: stretch;
  margin: 0 10vw; }
  @media (min-width: 1200px) {
    .grid-container {
      max-width: 1000px; } }
  .grid-container .column {
    overflow: hidden;
    min-width: 0; }
  .grid-container .column h1, .grid-container .column h2, .grid-container .column h3, .grid-container .column h4, .grid-container .column h5, .grid-container .column h6, .grid-container .column p {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%; }
  @media (min-width: 768px) {
    .grid-container {
      display: -ms-grid; } }
  @media (min-width: 768px) {
    .grid-container.c12 {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr; }
      .grid-container.c12 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; } }
  @media (min-width: 768px) {
    .grid-container.c10 {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr; }
      .grid-container.c10 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .grid-container.c10 > div > * {
        width: 83.33333%; } }
  @media (min-width: 768px) {
    .grid-container.c8 {
      grid-template-columns: 12fr;
      -ms-grid-columns: 12fr; }
      .grid-container.c8 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
      .grid-container.c8 > div > * {
        width: 66.66667%; } }
  @media (min-width: 768px) {
    .grid-container.c6-c6 {
      -ms-grid-columns: 6fr 3rem 6fr;
      grid-template-columns: 6fr 6fr; } }
  @media (min-width: 768px) {
    .grid-container.c7-c5 {
      -ms-grid-columns: 7fr 3rem 5fr;
      grid-template-columns: 7fr 5fr; } }
  @media (min-width: 768px) {
    .grid-container.c5-c7 {
      -ms-grid-columns: 5fr 3rem 7fr;
      grid-template-columns: 5fr 7fr; } }
  @media (min-width: 768px) {
    .grid-container.c8-c4 {
      -ms-grid-columns: 8fr 3rem 4fr;
      grid-template-columns: 8fr 4fr; } }
  @media (min-width: 768px) {
    .grid-container.c4-c8 {
      -ms-grid-columns: 4fr 3rem 8fr;
      grid-template-columns: 4fr 8fr; } }
  @media (min-width: 768px) {
    .grid-container.c9-c3 {
      -ms-grid-columns: 9fr 3rem 3fr;
      grid-template-columns: 9fr 3fr; } }
  @media (min-width: 768px) {
    .grid-container.c3-c9 {
      -ms-grid-columns: 3fr 3rem 9fr;
      grid-template-columns: 3fr 9fr; } }
  @media (min-width: 768px) {
    .grid-container.c6-c6 > div, .grid-container.c7-c5 > div, .grid-container.c5-c7 > div, .grid-container.c8-c4 > div, .grid-container.c4-c8 > div, .grid-container.c9-c3 > div, .grid-container.c3-c9 > div {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
      .grid-container.c6-c6 > div:nth-child(2), .grid-container.c7-c5 > div:nth-child(2), .grid-container.c5-c7 > div:nth-child(2), .grid-container.c8-c4 > div:nth-child(2), .grid-container.c4-c8 > div:nth-child(2), .grid-container.c9-c3 > div:nth-child(2), .grid-container.c3-c9 > div:nth-child(2) {
        -ms-grid-column: 3; } }
  @media (min-width: 768px) {
    .grid-container.c4-c4-c4 {
      -ms-grid-columns: 4fr 3rem 4fr 3rem 4fr;
      grid-template-columns: 4fr 4fr 4fr; } }
  @media (min-width: 768px) {
    .grid-container.c6-c3-c3 {
      -ms-grid-columns: 6fr 3rem 3fr 3rem 3fr;
      grid-template-columns: 6fr 3fr 3fr; } }
  @media (min-width: 768px) {
    .grid-container.c3-c6-c3 {
      -ms-grid-columns: 3fr 3rem 6fr 3rem 3fr;
      grid-template-columns: 3fr 6fr 3fr; } }
  @media (min-width: 768px) {
    .grid-container.c3-c3-c6 {
      -ms-grid-columns: 3fr 3rem 3fr 3rem 6fr;
      grid-template-columns: 3fr 3fr 6fr; } }
  @media (min-width: 768px) {
    .grid-container.c4-c4-c4 > div, .grid-container.c6-c3-c3 > div, .grid-container.c3-c6-c3 > div, .grid-container.c3-c3-c6 > div {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
      .grid-container.c4-c4-c4 > div:nth-child(2), .grid-container.c6-c3-c3 > div:nth-child(2), .grid-container.c3-c6-c3 > div:nth-child(2), .grid-container.c3-c3-c6 > div:nth-child(2) {
        -ms-grid-column: 3; }
      .grid-container.c4-c4-c4 > div:nth-child(3), .grid-container.c6-c3-c3 > div:nth-child(3), .grid-container.c3-c6-c3 > div:nth-child(3), .grid-container.c3-c3-c6 > div:nth-child(3) {
        -ms-grid-column: 5; } }
  @media (min-width: 768px) {
    .grid-container.c3-c3-c3-c3 {
      -ms-grid-columns: 6fr 3rem 6fr;
      grid-template-columns: 6fr 6fr; } }
  @media (min-width: 768px) and (min-width: 768px) {
    .grid-container.c3-c3-c3-c3 > div {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
      .grid-container.c3-c3-c3-c3 > div:nth-child(2) {
        -ms-grid-column: 3; } }
  @media (min-width: 992px) {
    .grid-container.c3-c3-c3-c3 {
      -ms-grid-columns: 3fr 3rem 3fr 3rem 3fr 3rem 3fr;
      grid-template-columns: 3fr 3fr 3fr 3fr; } }
  @media (min-width: 992px) and (min-width: 768px) {
    .grid-container.c3-c3-c3-c3 > div {
      -ms-grid-row: 1;
      -ms-grid-column: 1; }
      .grid-container.c3-c3-c3-c3 > div:nth-child(2) {
        -ms-grid-column: 3; }
      .grid-container.c3-c3-c3-c3 > div:nth-child(3) {
        -ms-grid-column: 5; }
      .grid-container.c3-c3-c3-c3 > div:nth-child(4) {
        -ms-grid-column: 7; } }
  @media (min-width: 768px) {
    .grid-container.c1-c1-c1-c1-c1 {
      -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }
      .grid-container.c1-c1-c1-c1-c1 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
        .grid-container.c1-c1-c1-c1-c1 > div:nth-child(2) {
          -ms-grid-column: 3; }
        .grid-container.c1-c1-c1-c1-c1 > div:nth-child(3) {
          -ms-grid-column: 5; }
        .grid-container.c1-c1-c1-c1-c1 > div:nth-child(4) {
          -ms-grid-column: 7; }
        .grid-container.c1-c1-c1-c1-c1 > div:nth-child(5) {
          -ms-grid-column: 9; } }
  @media (min-width: 768px) {
    .grid-container.c2-c2-c2-c2-c2-c2 {
      -ms-grid-columns: 4fr 3rem 4fr 3rem 4fr;
      grid-template-columns: 4fr 4fr 4fr; }
      .grid-container.c2-c2-c2-c2-c2-c2 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(2) {
          -ms-grid-column: 3; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(3) {
          -ms-grid-column: 5; } }
  @media (min-width: 992px) {
    .grid-container.c2-c2-c2-c2-c2-c2 {
      -ms-grid-columns: 2fr 3rem 2fr 3rem 2fr 3rem 2fr 3rem 2fr 3rem 2fr;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr; }
      .grid-container.c2-c2-c2-c2-c2-c2 > div {
        -ms-grid-row: 1;
        -ms-grid-column: 1; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(2) {
          -ms-grid-column: 3; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(3) {
          -ms-grid-column: 5; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(4) {
          -ms-grid-column: 7; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(5) {
          -ms-grid-column: 9; }
        .grid-container.c2-c2-c2-c2-c2-c2 > div:nth-child(6) {
          -ms-grid-column: 11; } }
  .grid-container > div {
    align-self: stretch;
    position: relative; }

@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-container {
    display: block !important; } }

@media screen and (min-width: 768px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .grid-container {
    display: -ms-grid !important; } }

.element--picture {
  position: relative; }
  .element--picture .tx-kitt3n-image {
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 2; }
    .element--picture .tx-kitt3n-image .aR {
      display: inline-block;
      width: 100%;
      position: relative;
      height: 0;
      transition: height 1s, opacity 2s; }
      .element--picture .tx-kitt3n-image .aR.aR--2-1_1 {
        padding-bottom: 100%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-4_3 {
        padding-bottom: 75%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-3_2 {
        padding-bottom: 66.66667%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-2_1 {
        padding-bottom: 50%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-16_9 {
        padding-bottom: 56.25%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-21_9 {
        padding-bottom: 42.85714%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-21_5 {
        padding-bottom: 23.80952%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-2_3 {
        padding-bottom: 150%; }
      .element--picture .tx-kitt3n-image .aR.aR--2-3_4 {
        padding-bottom: 133.33333%; }
      @media (min-width: 992px) {
        .element--picture .tx-kitt3n-image .aR.aR--1-1_1 {
          padding-bottom: 100%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-4_3 {
          padding-bottom: 75%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-3_2 {
          padding-bottom: 66.66667%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-2_1 {
          padding-bottom: 50%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-16_9 {
          padding-bottom: 56.25%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-21_9 {
          padding-bottom: 42.85714%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-21_5 {
          padding-bottom: 23.80952%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-2_3 {
          padding-bottom: 150%; }
        .element--picture .tx-kitt3n-image .aR.aR--1-3_4 {
          padding-bottom: 133.33333%; } }
      @media (min-width: 1200px) {
        .element--picture .tx-kitt3n-image .aR.aR--0-1_1 {
          padding-bottom: 100%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-4_3 {
          padding-bottom: 75%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-3_2 {
          padding-bottom: 66.66667%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-2_1 {
          padding-bottom: 50%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-16_9 {
          padding-bottom: 56.25%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-21_9 {
          padding-bottom: 42.85714%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-21_5 {
          padding-bottom: 23.80952%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-2_3 {
          padding-bottom: 150%; }
        .element--picture .tx-kitt3n-image .aR.aR--0-3_4 {
          padding-bottom: 133.33333%; } }
      .element--picture .tx-kitt3n-image .aR img {
        position: absolute;
        width: auto;
        height: 100%;
        max-width: 100%; }
        @supports (object-fit: cover) {
          .element--picture .tx-kitt3n-image .aR img {
            object-fit: cover;
            width: 100%; } }
        @media (min-width: 768px) {
          .element--picture .tx-kitt3n-image .aR img {
            max-width: unset; } }
      .element--picture .tx-kitt3n-image .aR img:not([src]) {
        visibility: hidden; }
  .element--picture.nogo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(to top left, transparent 0%, transparent calc(50% - 3px), red 50%, transparent calc(50% + 3px), transparent 100%), linear-gradient(to top right, transparent 0%, transparent calc(50% - 3px), red 50%, transparent calc(50% + 3px), transparent 100%); }

.grid-container.c12 .element--picture-and-text .element--wysiwyg {
  width: 100%; }
  @media (min-width: 992px) {
    .grid-container.c12 .element--picture-and-text .element--wysiwyg {
      width: 66.66667%; } }

.element--picture-and-text figure {
  margin-bottom: 2rem; }

.element.element--picture-beside-text.grid-container {
  margin: 0 0; }

.element--image {
  position: relative; }
  .element--image.nogo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;
    background: linear-gradient(to top left, transparent 0%, transparent calc(50% - 3px), red 50%, transparent calc(50% + 3px), transparent 100%), linear-gradient(to top right, transparent 0%, transparent calc(50% - 3px), red 50%, transparent calc(50% + 3px), transparent 100%); }

.element--icons .grid-container {
  margin: 0; }

.element--icons figure {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background: #f2f2f2; }

.element--icons figure img {
  margin: 33.33333%;
  width: 33.33333%; }

.element--icons figcaption {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-weight: 700; }

.element--icons .icon {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background: #f2f2f2; }

.element--color .colorSquare {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  margin-bottom: 3rem; }

.element--color h3 {
  margin-bottom: 1rem; }

.element--anchor {
  position: relative; }
  .element--anchor a.anchor {
    display: inline-block;
    font-size: 0;
    position: absolute;
    top: -150px;
    height: 150px;
    width: 100%;
    left: 0;
    pointer-events: none; }

.element--assets * {
  box-sizing: border-box; }

.element--assets .grid-container {
  margin: 0;
  align-items: end; }
  @media (min-width: 992px) {
    .element--assets .grid-container {
      margin: 0 0 3rem 0; } }

.element--assets .grid-container > div {
  align-self: end; }

.element--assets figure {
  display: inline-block;
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background: #f2f2f2;
  margin-bottom: 0; }

.element--assets figure.type--image {
  height: auto;
  padding-bottom: 0;
  background: transparent; }

.element--assets figure img {
  margin: 33.33333%;
  width: 33.33333%; }

.element--assets figure.type--image img {
  margin: 0;
  padding: 2%;
  width: 100%;
  background: #f2f2f2; }

.element--assets figure.type--folder:before {
  content: "";
  position: absolute;
  background: url(/bundles/kitt3npimcoreelements/assets/icons/folder.svg) no-repeat center center;
  background-size: 100% 100%;
  height: 0;
  padding-bottom: 33.33333%;
  margin: 33.33333%;
  width: 33.33333%; }

.element--assets figcaption {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  font-weight: 700;
  margin: 0; }

.element--assets figcaption > span {
  line-height: 1;
  font-weight: 400;
  display: block;
  font-size: 1.1rem;
  margin: 1.75439rem 0 0 0; }

.element--assets .icon {
  width: 100%;
  position: relative;
  height: 0;
  padding-bottom: 100%;
  background: #f2f2f2; }

.element--assets a.asset,
.element--assets label.asset {
  display: inline-block;
  width: 100%;
  cursor: pointer; }

.element--assets a.download {
  position: absolute;
  bottom: 0.75rem;
  right: 0;
  text-indent: 20000em;
  background: url(/bundles/kitt3npimcoreelements/assets/icons/download.svg) no-repeat center center;
  background-size: 100% 100%;
  width: 2rem;
  height: 2rem; }

.element--assets a {
  text-decoration: none;
  color: #0a0a0a; }

.element--assets .breadcrumb {
  padding: 3rem 0; }
  .element--assets .breadcrumb a:after, .element--assets .breadcrumb span:after {
    content: "/";
    position: relative; }
  .element--assets .breadcrumb span {
    font-weight: 700; }

.element--asset-download * {
  box-sizing: border-box; }

.element--asset-download ul li {
  margin-bottom: 1rem;
  position: relative;
  padding: 1.5rem;
  background: #f2f2f2;
  cursor: pointer; }

.element--asset-download strong {
  display: block; }
  @media (min-width: 992px) {
    .element--asset-download strong {
      display: inline; } }

.element--asset-download span.size {
  position: relative;
  color: #7a7a7a; }
  @media (min-width: 992px) {
    .element--asset-download span.size {
      position: absolute;
      right: 5rem; } }

.element--asset-download a.download {
  position: absolute;
  right: 1.5rem;
  text-indent: 20000em;
  background: url(/bundles/kitt3npimcoreelements/assets/icons/download.svg) no-repeat center center;
  background-size: 100% 100%;
  width: 2rem;
  height: 2rem; }
