.pimcore_tag_input,
.pimcore_tag_wysiwyg {
  background: #feffe7; }

.pimcore_block_button_plus {
  z-index: 4; }

.pimcore_area_buttons.top {
  width: 100vw !important; }

.pimcore_area_hidden > div:not(.pimcore_area_buttons):not(.pimcore_area_edit_button) {
  background: red;
  opacity: 0.5;
  filter: blur(3px);
  pointer-events: none; }

.edit.wrapper .display_none {
  display: none; }

.wrapper.edit .edit.controls,
.wrapper.edit > .edit,
.wrapper.edit > .app > .edit {
  opacity: 0.05;
  filter: blur(3px); }

.wrapper.edit:hover .edit.controls,
.wrapper.edit:hover > .edit,
.wrapper.edit:hover > .app > .edit {
  opacity: 1;
  filter: unset; }

.edit input[type="checkbox"],
.edit input[type="radio"] {
  vertical-align: middle; }

.edit.controls {
  background: #191c20;
  border-bottom: solid 1px #f4f5f6;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 5px;
  border-radius: 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  min-height: 30px; }

.edit.controlsPlaceholder {
  position: relative;
  height: 32px; }

.edit.controls .edit {
  display: inline-block;
  margin-right: 5px; }

.edit.wrapper .grid-container > div {
  border-left: dashed 1px #d7dbe0;
  border-right: dashed 1px #d7dbe0; }

.edit.wrapper .grid-container .column {
  overflow: visible !important;
  min-width: 0; }

.edit.wrapper .grid-container .column h1, .edit.wrapper .grid-container .column h2, .edit.wrapper .grid-container .column h3, .edit.wrapper .grid-container .column h4, .edit.wrapper .grid-container .column h5, .edit.wrapper .grid-container .column h6, .edit.wrapper .grid-container .column p {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%; }

.edit.column {
  border: dashed 1px #ebebeb;
  position: relative; }

.edit.padding_size .x-form-text-default {
  color: #404040;
  background-color: rgba(255, 235, 51, 0.9); }

.edit.margin {
  background: #464e59;
  width: 40px;
  height: 20px;
  border: solid 1px #f4f5f6;
  z-index: 9999; }

.edit.margin.margin_2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  border-radius: 0 5px 0 0;
  border-bottom: none;
  /*margin-left: -10px;*/ }

.edit.margin_size .x-form-text-default {
  color: white;
  background-color: rgba(0, 0, 0, 0.9); }

.edit.padding {
  background: #191c20;
  width: 40px;
  height: 20px;
  z-index: 9999;
  border: solid 1px #f4f5f6; }

.edit.padding .pimcore_tag_checkbox,
.edit.margin .pimcore_tag_checkbox {
  display: block;
  line-height: 20px;
  font-size: 0;
  height: 20px;
  text-align: center; }

.edit.padding.padding_0 {
  position: absolute;
  top: 31px;
  left: 50%;
  margin-left: -20px;
  border-radius: 0 0 5px 5px;
  border-top: none; }

.edit.padding.padding_1 {
  position: absolute;
  width: 20px;
  height: 40px;
  right: 0px;
  top: 50%;
  margin-top: -20px;
  border-radius: 5px 0 0 5px;
  border-right: none; }

.edit.padding.padding_1 .pimcore_tag_checkbox {
  line-height: 40px;
  height: 40px; }

.edit.padding.padding_2 {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -40px;
  border-radius: 5px 0 0 0;
  border-bottom: none; }

.edit.padding.padding_3 {
  position: absolute;
  width: 20px;
  height: 40px;
  left: 0px;
  top: 50%;
  margin-top: -20px;
  border-radius: 0 5px 5px 0;
  border-left: none; }

.edit.padding.padding_3 .pimcore_tag_checkbox {
  line-height: 40px;
  height: 40px; }

.edit.element--picture .tx-kitt3n-image {
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 2; }
  .edit.element--picture .tx-kitt3n-image .aR {
    display: inline-block;
    width: 100%;
    position: relative;
    height: 0;
    transition: height 1s, opacity 2s; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-1_1 {
      padding-bottom: 100%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-4_3 {
      padding-bottom: 75%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-3_2 {
      padding-bottom: 66.66667%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-2_1 {
      padding-bottom: 50%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-16_9 {
      padding-bottom: 56.25%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-21_9 {
      padding-bottom: 42.85714%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-21_5 {
      padding-bottom: 23.80952%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-2_3 {
      padding-bottom: 150%; }
    .edit.element--picture .tx-kitt3n-image .aR.aR--2-3_4 {
      padding-bottom: 133.33333%; }
    @media (min-width: 992px) {
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-1_1 {
        padding-bottom: 100%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-4_3 {
        padding-bottom: 75%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-3_2 {
        padding-bottom: 66.66667%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-2_1 {
        padding-bottom: 50%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-16_9 {
        padding-bottom: 56.25%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-21_9 {
        padding-bottom: 42.85714%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-21_5 {
        padding-bottom: 23.80952%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-2_3 {
        padding-bottom: 150%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--1-3_4 {
        padding-bottom: 133.33333%; } }
    @media (min-width: 1200px) {
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-1_1 {
        padding-bottom: 100%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-4_3 {
        padding-bottom: 75%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-3_2 {
        padding-bottom: 66.66667%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-2_1 {
        padding-bottom: 50%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-16_9 {
        padding-bottom: 56.25%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-21_9 {
        padding-bottom: 42.85714%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-21_5 {
        padding-bottom: 23.80952%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-2_3 {
        padding-bottom: 150%; }
      .edit.element--picture .tx-kitt3n-image .aR.aR--0-3_4 {
        padding-bottom: 133.33333%; } }
    .edit.element--picture .tx-kitt3n-image .aR img {
      position: absolute;
      width: auto;
      height: 100%;
      max-width: 100%; }
      @supports (object-fit: cover) {
        .edit.element--picture .tx-kitt3n-image .aR img {
          object-fit: cover;
          width: 100%; } }
      @media (min-width: 768px) {
        .edit.element--picture .tx-kitt3n-image .aR img {
          max-width: unset; } }
    .edit.element--picture .tx-kitt3n-image .aR img:not([src]) {
      visibility: hidden; }
    .edit.element--picture .tx-kitt3n-image .aR .pimcore_tag_image {
      width: 100% !important;
      height: 100% !important;
      position: absolute; }
    .edit.element--picture .tx-kitt3n-image .aR .pimcore_tag_image_alt {
      z-index: 4; }

.edit.element--picture .imgWrapper {
  position: relative;
  overflow: hidden; }

.edit.element--picture .imgWrapper div.focusPoint {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #ff00004f;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 0;
  z-index: 3;
  pointer-events: none; }

.edit.element--picture .imgWrapper div.focusPoint > svg {
  width: 100%;
  height: 100%;
  opacity: 0.8; }

.element--color .vc-sketch {
  position: absolute;
  bottom: 0;
  background: #191c20 !important;
  max-width: 200px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  box-shadow: none; }

.element--color .vc-sketch-saturation-wrap {
  padding-bottom: 40%; }

.element--color .vc-sketch-field .vc-input__label {
  color: #fff !important; }

.element--color .vc-sketch-presets {
  display: none; }

.element--color .vc-sketch-active-color {
  border-radius: 0; }

.element--color .vc-alpha-picker,
.element--color .vc-hue-picker {
  width: 8px;
  border-radius: 50%;
  height: 8px; }

.element--color .vc-sketch-field .vc-input__input {
  width: 100%; }

.element--color .app {
  height: 0;
  padding-bottom: 100%;
  position: relative; }

.edit.element--anchor hr {
  margin: 0; }

.edit.element--anchor span {
  position: absolute;
  width: 35px;
  height: 100%;
  font-size: 2.5rem;
  text-align: center; }

.edit.element--anchor .pimcore_tag_input {
  margin-left: 35px; }

.element--asset-download.edit * {
  box-sizing: border-box; }

.element--asset-download.edit table {
  margin-bottom: 0; }
